<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>天天來網路書店-購物車</title>

    <!--    引用公共資源css、js-->
    <div th:insert="pages/common/common_resource :: common_resource"></div>
    <script type="text/javascript" th:src="@{/static/script/axios.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/script/vue.js}"></script>
    <script type="text/javascript">
        //使用"+"、"-"編輯購物車商品數量
        function editCart(bId , count){
            window.location.href="cart/update?bId=" + bId + "&count=" + count;
        }


        $(function () {
            //清空購物車
            $(".clearCartItem").click(function () {
                return confirm("確定要清空購物車?");
            });
            //輸入數量修改購物車商品數量
            $(".updateCount").change(function () {
                //獲取商品ID
                var bId = $(this).attr("bookId");
                //獲取修改後的商品數量
                var count = this.value;
                //指向CartController中的updateCount方法，並提供參數id & count
                location.href="cart/update?bId=" + bId + "&count=" + count;
            });

            $("#btn_checkout").click(function () {
                //指向OrderController中的createOrder方法
                location.href="order/add";
            });

        });
    </script>

</head>
<body>

    <div id="header">
        <a th:href="@{/}"><img class="book_logo_img" th:src="@{/static/img/Books_logo.jpg}"></a>
        <!--        引用登入條login_bar-->
        <span th:replace="pages/common/login_bar :: login_bar"></span>
    </div>


    <div id="main_cartlist">
        <span class="empty_cart" th:if="${session.cart.items.isEmpty()}" th:text="目前購物車內沒有商品"></span>

        <div th:if="${not session.cart.items.isEmpty()}">
            <table>
                <Tr>
                    <th colspan="2">商品明細</th>
                    <th>價格</th>
                    <th style="width: 200px">數量</th>
                    <th>小計</th>
                    <th>操作</th>
                </Tr>
                <tr th:each="item : ${session.cart.items}">
                    <td><img class="cart_img" alt="" th:src="@{'/' + ${item.value.imgPath}}"/></td>
                    <td th:text="${item.value.name}"></td>
                    <td th:text="${item.value.price}"></td>
                    <td>
                        <span class="count" th:onclick="|editCart(${item.value.id} ,${item.value.count - 1})|">-</span>
                        <input class="updateCount" th:bookId="${item.value.id}" type="text" th:value="${item.value.count}">
                        <span class="count" th:onclick="|editCart(${item.value.id} ,${item.value.count + 1})|">+</span>
                    </td>
                    <td th:text="${item.value.totalPrice}"></td>
                    <td><a class="deleteCartItem" th:href="@{'/cart/delete/' + ${item.value.id}}" th:text="刪除"></a></td>
                </tr>
                <tr style="height: 100px">
                    <td><a class="clearCartItem" th:href="@{/cart/clear}" th:text="清空購物車"></a></td>
                    <td colspan="2" class="cart_span" th:text="'共' + ' ' + ${session.cart.getTotalCount()} + ' ' + '件商品'"></td>
                    <td colspan="2" class="cart_span">總金額<span id="totalPrice" th:text="'$' + ${session.cart.getTotalPrice()} + '元'"></span></td>
                    <td><input type="button" id="btn_checkout" value="去買單"></td>
                </tr>
            </table>
        </div>
    </div>
    <!--    靜態包含末尾頁面-->
    <div th:insert="pages/common/footer :: footer"></div>
</body>
</html>
