<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>結算頁面</title>
    <!--    引用公共資源css、js-->
    <div th:insert="pages/common/common_resource :: common_resource"></div>
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }
    </style>
</head>
<body>

    <div id="header">
        <a th:href="@{/}"><img class="book_logo_img" th:src="@{/static/img/Books_logo.jpg}"></a>
        <!--        引用登入條login_bar-->
        <span th:replace="pages/common/login_bar :: login_bar"></span>
    </div>


    <div id="main">
        <h1 th:text="|您的訂單已結算，訂單號為${session.orderId}|"></h1>
    </div>

    <!--    靜態包含末尾頁面-->
    <div th:insert="pages/common/footer :: footer"></div>
</body>
</html>