<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="common_resource">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
            <!--引用style.css-->
            <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
            <!--引用jquery-1.7.2.js-->
            <script type="text/javascript" th:src="@{/static/script/jquery-1.7.2.js}"></script>
            <!--引用regist.js    -->
            <script type="text/javascript" th:src="@{/static/script/regist.js}"></script>

        <!--    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->

        <!--    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
        </div>
    </body>
</html>