<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="manager_bar">
        <div>
            <span class="manager_word">
                <span><a th:href="@{/book/manager/page/1}"><button id="btn_bookmanager" th:text="圖書管理"></button></a></span>
                <span>|</span>
                <span><a th:href="@{/order/manager/page/1}"><button id="btn_ordermanager" th:text="訂單管理"></button></a></span>
                <span>|</span>
                <span><a th:href="@{/}"><button id="btn_indexpage" th:text="返回商城"></button></a></span>
            </span>
        </div>
    </div>
</html>