<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="page_nav">
    <div id="page_nav">
        <tr>
            <td colspan="6">
                            <span th:if="${page.hasPreviousPage}">
                                <a th:href="@{${mappingUrl} + '1'}">首页</a>
                                <a th:href="@{${mappingUrl}+${page.prePage}}">上一页</a>
                            </span>
                <span th:each="num : ${page.navigatepageNums}">
                                <a th:if="${page.pageNum==num}"
                                   th:href="@{${mappingUrl}+${num}}" th:text="'['+${num}+']'" style="color:red;"></a>
                                <a th:if="${page.pageNum!=num}"
                                   th:href="@{${mappingUrl}+${num}}" th:text="${num} "></a>
                            </span>
                <span th:if="${page.hasNextPage}">
                                <a th:href="@{${mappingUrl}+${page.nextPage}}">下一页</a>
                                <a th:href="@{${mappingUrl}+${page.pages}}">末页</a>
                            </span>
            </td>
        </tr>
    </div>
</div>
</html>