<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>天天來網路書店-訂單管理</title>

    <!--    引用公共資源css、js-->
    <div th:insert="pages/common/common_resource :: common_resource"></div>

</head>
<body>

    <div id="header">
        <a th:href="@{/}"><img class="book_logo_img" th:src="@{/static/img/Books_logo.jpg}"></a>
        <!--        引用登入條login_bar-->
        <span th:replace="pages/common/login_bar :: login_bar"></span>
    </div>


    <div id="main_orderlist">

        <span th:if="${page.size} == 0" class="empty_cart">目前沒有訂單</span>

        <div th:if="${page.size} != 0">
            <div th:each="order : ${page.list}">
                <table>
                    <Tr>
                        <th colspan="2">訂單編號</th>
                        <th colspan="2">日期</th>
                        <th>訂單狀態</th>
                        <th>總價</th>
                        <th colspan="2">其他</th>
                    </Tr>
                    <tr>
                        <td colspan="2" th:text="${order.orderId}"></td>
                        <td colspan="2" th:text="${#dates.format(order.createtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <span th:switch="${order.status}">
                                <span th:case="0">未出貨</span>
                                <span th:case="1">已出貨</span>
                                <span th:case="2">訂單完成</span>
                            </span>
                        </td>
                        <td th:text="${order.price}"></td>
                        <td>
                            <a th:href="@{'/order/' + ${order.orderId} + '/' + ${order.price}}">訂單明細</a>
                            <span>|</span>
                            <a th:href="@{'/order/receive/' + ${order.orderId}}">收貨</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div th:if="${page.size} != 0">
        <!--                    靜態包含分頁條-->
        <div th:insert="pages/common/page_nav :: page_nav"></div>
    </div>
    <br><br>
    <!--    靜態包含末尾頁面-->
    <div th:insert="pages/common/footer :: footer"></div>

</body>
</html>